{{#each posts as |post| }}

<div class="all-posts">
<a href="/post/{{post.id}}">
  <div class="blog-post bg-dark">
    <div class="post-content">
      <div class="post-head">
        <h1>{{post.title}}</h1>
        <h2>{{post.user.username}} {{format_date date_created}}</h2>
      </div>
      <div class="post-body">
        <p>{{post.body}}</p>
      </div>
    </div>
  </div>
</a>
</div>

{{/each}}
